* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Hardcore";
  src: url("fonts/Hardcore.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lexend;
  z-index: 100;
  background-color: #000000;
  border-bottom: 0.2rem solid rgb(241, 196, 15);
  border-top: 0.1rem solid rgb(241, 196, 15);
}

.logo {
  font-size: 2.5rem;
  margin-left: -1rem;
  color: #f1c40f;
  font-family: "Hardcore";
  cursor: pointer;
  transition: font-size 0.3s ease, padding 0.3s ease;
}

.logo.small {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 2rem;
}

.navbar a {
  font-size: 1.2rem;
  color: #f1c40f;
  margin-left: 2.3rem;
  font-weight: 700;
}

#menu-icon {
  font-size: 3.6rem;
  color: #f1c40f;
  display: none;
}

.icons {
  display: flex;
  align-items: center;
}

.icons i {
  color: #000000;
  font-size: 1.3rem;
  margin-left: 1rem;
  cursor: pointer;
}

.content {
  width: 100%;
  height: auto;
  margin-top: 11%;
}
