* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
}

@font-face {
  font-family: "RockRoad";
  src: url("fonts/RockRoad.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 0.1rem solid rgb(0, 0, 0);
  border-top: 0.1rem solid rgb(0, 0, 0);
}

.logo {
  font-size: 2.5rem;
  margin-left: -1rem;
  color: #000000;
  font-family: "RockRoad";
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 2rem;
}

.navbar a {
  font-size: 1.3rem;
  color: #000000;
  margin-left: 2.3rem;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
}

.navbar a:hover,
.navbar a.active {
  color: #fbbf28;
}

#menu-icon {
  font-size: 3.6rem;
  color: #000000;
  display: none;
}

.icons {
  display: flex;
  align-items: center;
}

.icons i {
  color: #000000;
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.content {
  width: 100%;
  height: auto;
  margin-top: 11%;
}
